body {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, right bottom, left top, from(#0c71a3), to(#000000));
  background: linear-gradient(to top left, #0c71a3, #000000);
  background-size: cover;
  overflow-x: hidden;
  font-family: "K2D", sans-serif;
}